.root {
    -fx-background-color: #f0f0f0;
    -fx-padding: 20px;
    -fx-font-family: "Segoe UI", sans-serif;
}

.sidebar {
    -fx-background-color: #ffffff;
    -fx-padding: 15px;
    -fx-spacing: 10px;
    -fx-background-radius: 10px 0 0 10px;
    -fx-pref-width: 180px; /* Sidebar com largura mais firme */
}

.sidebar-button {
    -fx-background-color: transparent;
    -fx-text-fill: #333;
    -fx-font-size: 16px;
    -fx-alignment: center-left;
    -fx-padding: 10px 20px;
}

.sidebar-button:hover {
    -fx-background-color: #e0e0e0;
}


#profileImage {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0.5, 0, 0);
    /* -fx-clip-shape: circle; precisa fazer o clip no Java mesmo */
}

#user_info {
    -fx-text-fill: #333;
    -fx-font-size: 18px; /* levemente maior para destacar */
    -fx-font-weight: bold;
}

#editProfileBtn, .edit-profile-button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-padding: 8px 24px; /* um pouco mais largo */
    -fx-font-size: 14px;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}

.editProfileBtn:hover{
    -fx-background-color: #53bd57;
}

.info-box {
    -fx-background-color: #ffffff;
    -fx-padding: 20px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: #ddd;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 5, 0.5, 0, 0);
}

.info-box Label {
    -fx-text-fill: #555;
    -fx-font-size: 16px;
}
